<h1>Product Catalog</h1>

<div>
  <%= link_to 'Add New Product', new_product_path, class: 'btn btn-default'%>
  <%= link_to 'Import New Products', products_import_path, class: 'btn btn-default' %>
</div>

<%= will_paginate @products %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Added</th>
      <th>Value</th>
      <th class="last-column" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to "#{product.name}", product, class: "show-detail" %></td>
        <td><%= product.created_at.strftime("%b %d, %Y") %></td>
        <td><%= number_to_currency(product.value) %></td>
        <td class="small-column"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class="small-column last-column"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

